<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.BsAlarmMapper">


<!-- 自定义返回结果集 -->
   <resultMap id="BsAlarmMap" type="xh.mybatis.bean.BsAlarmBean">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="bsId" column="bsId" javaType="java.lang.Integer"></result>
        <result property="alarmLevel" column="alarmLevel" javaType="java.lang.Integer"></result>
        <result property="alarmType" column="alarmType" javaType="java.lang.Integer"></result>
        <result property="content" column="content" javaType="java.lang.String"></result>
        <result property="status" column="status" javaType="java.lang.Integer"></result>
        <result property="createTime" column="createTime" javaType="java.lang.String"></result>
    </resultMap>

    <!--查询所有-->
    <select id="selectAllBsAlarm" resultType="java.util.HashMap" useCache="true">
     select name,alarmLevel,alarmType,content from xhgmnet_bs_alarm as a LEFT JOIN xhgmnet_bs_station as b on a.bsId=b.bsId
    </select>


</mapper>