<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.ChartsMapper">
	<!-- 自定义返回结果集 -->
	<resultMap id="callMap" type="xh.mybatis.bean.ChartBean">
		<result property="value" column="value" javaType="java.lang.Integer"></result>
		<result property="name" column="name" javaType="java.lang.String"></result>
	</resultMap>
	<!--终端在线状态统计 -->
	<select id="userStatusByChart" resultType="java.util.HashMap"
		useCache="true">
		select onlinestatus as name,count(id) as value from xhgmnet_radiouser
		group by onlinestatus order by onlinestatus asc
	</select>
	<!--基站状态统计 -->
	<select id="bsStatusByChart" resultType="java.util.HashMap"
		useCache="true">
		select status as name,
		count(bsId) as value from
		xhgmnet_bs_station group by status order by status asc
	</select>
	<!--查询资产状态图像统计 -->
	<select id="AssetStatusByChart" resultType="java.util.HashMap"
		useCache="true">
		select status as name,count(id) as value from xhgmnet_business_assetinfo
		group by status order by status asc
	</select>
	<!--基站分布图 -基站信息 -->
	<select id="bsPostionInfo" resultType="java.util.HashMap"
		useCache="true">
		select name,bsId as value from xhgmnet_bs_station order by
		bsId asc
	</select>
	<!--基站分布图 -经纬度 -->
	<select id="bsPostionLatLng" resultType="java.util.HashMap"
		useCache="true">
		select name,lng,lat from xhgmnet_bs_station order by
		bsId asc
	</select>
	<!--当天呼叫时间统计-->
    <select id="hourCallTime" parameterType="map" resultType="java.util.HashMap" useCache="true">         
    select count(*)as num,sum(Use_Time) as time,DATE_FORMAT( Call_Time, '%H' ) AS date from  xhgmnet_calllist06 
    where Call_Time between #{starttime} and #{endtime} group by date order by date asc
    </select>



</mapper>
