<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8>
<title>404</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="../../Resources/js/xhbootstrap-css.js"></script>
<script type="text/javascript">
function goBack(){
	window.history.back(); 
}
</script>
<!--[if lte IE 9]>
<script src="../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../Resources/js/respond.min.js"></script>
<script src="../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body class="blank">
	<!-- <!-- Simple splash screen-->
	<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<div class="color-line"></div>
	<div class="error-container">
		<h1>404</h1>
		<h2>访问的页面不存在</h2>
		<p>Sorry, but the page you are looking for has note been found.
			Try checking the URL for error, then hit the refresh button on your
			browser or try found something else in our app.</p>
		<a href="#" onclick="goBack()" class="btn btn-xs btn-success">返回上一页</a>
	</div>
</body>
<script type="text/javascript" src="../../Resources/js/xhbootstrap-js.js"></script>
</html>
