<!DOCTYPE html>
<html>
<head>
<title>页面不存在</title>
<meta charset=UTF-8>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script type="text/javascript" src="../resources/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript"
	src="../resources/static/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../resources/js/xh.js"></script>
<!-- style -->
<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
</head>
<body class="blank">
	<!-- <!-- Simple splash screen-->
	<div class="splash">
		<div class="color-line"></div>
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div> 
	<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<div class="color-line"></div>
	<div class="error-container">
		<i class="pe-7s-way text-success icon-big"></i>
		<h1>500</h1>
		<h2>操作出现错误</h2>
		<p>Failed to load resource: the server responded with a status of 500 (Internal Server Error)</p>
		<a href="../index.html" class="btn btn-xs btn-success">返回首页</a>
	</div>
</body>
</html>
