<!-- 系统头部 -->
<div id="header" role="navigation">
	<div id="logo">
		<ul class="small-logo">
			<li><img alt="" src="Resources/images/img/logo.png"
				height="40px" width="40px"></li>
			<li class="title"><span>综合应用与管理平台</span></li>
		</ul>
	</div>
	<nav role="navigation">
		<div class="font-white">
			<ul class="navbar-right">
				<li class="dropdown"><a data-toggle="dropdown" href="#"> <i
						class="fa fa-envelope-o fa-x font-white"></i> <span
						class="badge badge-header badge-danger"> 12</span>
				</a>
					<div class="dropdown-menu animated bounceInUp border-top-white">
						<span class="arrow-top"></span>
						<div style="color:#000">wwwwfsdgdsgsdsvseeeeeed123</div>
					</div></li>
				<li class="dropdown"><a data-toggle="dropdown" href="#"> <i
						class="fa fa-bell-o fa-x font-white"></i> <span
						class="badge badge-header badge-warning"> 10</span>
				</a>
					<div class="dropdown-menu animated bounceInUp">123</div></li>
			</ul>
		</div>
	</nav>
</div>
<div id="nav-top">
	<nav role="navigation">
				<ul class="navbar-left">
			<li
				ng-class="{true: 'header-active', false: 'inactive'}[systemMenu]"><a
				href="index.html"><i class="fa fa-sitemap"></i>&nbsp;|系统状态</a></li>
			<li
				ng-class="{true: 'header-active', false: 'inactive'}[operationMenu]"><a
				href="Views/operations/audio.html"><i class="fa fa-wrench"></i>&nbsp;|运维管理</a></li>
			<li
				ng-class="{true: 'header-active', false: 'inactive'}[businessMenu]"><a
				href="Views/business/asset-info.html"><i class="fa fa-suitcase"></i>&nbsp;|业务管理</a></li>
			<li
				ng-class="{true: 'header-active', false: 'inactive'}[securityMenu]"><a
				href="Views/web/user.html"><i class="fa fa-lock"></i>&nbsp;|平台管理</a></li>
		</ul>
		<ul class="navbar-right">
			<li style="color:#d15b47"><span>欢迎你!</span>&nbsp;&nbsp;<span
				id="login-user" name="AS"></span></li>
			<li><a href="#" data-toggle="modal" data-target="#update_member"
				onclick="xh.user()"><i class="fa fa-edit"></i>&nbsp;|修改个人资料</a></li>
			<li><a href="../../web/loginOut"><i
					class="fa fa-hand-o-left"></i>&nbsp;|退出系统</a></li>
		</ul>
	</nav>
</div>
<script type="text/javascript">
	$.ajax({
		url : 'web/loginUserInfo',
		type : 'post',
		dataType : "json",
		data : {},
		async : false,
		success : function(data) {
			if (data.success) {
				var html = data.user + "&nbsp;&nbsp;角色[" + data.role + "]";
				$("#login-user").html(
						"<span style='color:blue'>" + html + "</span>");
			} else {
				var html = data.user + "&nbsp;&nbsp;角色[" + data.user + "]";
				$("#login-user").html(
						"<span style='color:blue'>" + html + "</span>");
			}
			;
		},
		error : function() {
		}
	});
</script>
