@CHARSET "UTF-8";
.button-16{
	display:block;
	width:20px;
	height:20px;
}
.full-screen{
	background: url(../images/img/icon.png) no-repeat ;
	background-position:-585px -100px ;
}
.little-screen{
	background: url(../images/img/icon.png) no-repeat ;
	background-position:-635px -100px ;
}