@CHARSET "UTF-8";
/* 网页头部 */
#header {
	background-color: #428bca;
	display: block;
	height: 50px;
	margin: 0;
	padding: 0;
	position: relative;
	border-bottom: 1px solid #e4e5e7;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2)
}

#nav-top {
	background-color: #fff;
	display: block;
	height: 30px;
	margin: 0;
	padding: 0;
	position: relative;
	border-bottom: 1px solid #e4e5e7;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2)
}

#nav-top ul {
	padding: 0;
	height: 30px;
}

#nav-top ul li {
	padding-top: 4px;
}

#nav-top .header-active {
	background: #f7f9fa;
	height: 30px;
	border-bottom-width: 2px;
	border-bottom-color: green;
}
/* 网页logo图标和标题布局 */
#logo ul li {
	float: left;
	margin: 0 0 0 20px;
}

#logo.light-version ul li span {
	font-weight: 600;
	color: #fff;
	font-size: 25px;
}

#logo.light-version ul {
	list-style: none;
}

#logo.light-version ul li {
	float: left;
	margin-left: 5px;
}

#logo .small-logo {
	padding-top: 5px;
	padding-left: 3px;
	margin-left: 0;
	margin-top: 0;
	line-height: 30px;
}

#logo .small-logo .title {
	padding-top: 5px;
	font-size: 16pt;
	color: #ffffff;
}
/* 网页中间内容体 wrapper */
#wrapper {
	margin: 0 0 0 190px;
	padding: 0;
	background: #f1f3f6;
	border-left: 1px solid #e4e5e7;
	transition: all 0.4s ease 0s;
	position: relative;
	min-height: 100%;
	height: 100%;
	overflow-y: auto;
}
/* 网页中间无菜单内容体 nomenu-wrapper */
#nomenu-wrapper {
	/*  top: 80px;
  margin: 0 0 0 0;
  padding: 0;
  background: #f1f3f6;
  border-left: 1px solid #e4e5e7;
  transition: all 0.4s ease 0s;
  position: relative;
  min-height: 100%; 
  height:100%;
  overflow-y:auto; */
	/*  margin-top: 80px; */
	padding-top: 80px; background : #fafafa;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fafafa;
}

/* //均分div */
.quarter-div {
	width: 33.3333%;
	height: 50%;
	float: left;
}

.no-scroll {
	overflow: hidden;
}

iframe {
	/*  margin: 80px 180px 0 180px; */
	min-height: 100%;
	border: 0;
	transition: all 0.4s ease 0s;
	position: relative;
	width: 100%;
	height: 100%;
}

#wrapper-iframe {
	margin: 0 0 0 190px;
	padding: 0;
	background: #f1f3f6;
	border-left: 1px solid #e4e5e7;
	transition: all 0.4s ease 0s;
	position: relative;
	/* min-height: 100%;  */
	height: 500px;
	overflow: hidden;
}

.content {
	padding: 15px 10px 10px 10px;
	background: #fafafa;
	min-height: 100%;
	width: 100%;
	margin: 30px 0 0 0;
	min-width: 320px;
	overflow-x: hidden;
}

.content-2 {
	/* padding: 0px 0px 0px 0px;
  background:#fafafa;
  min-height:100%;
  width:100%; 
  margin:0px 0 0 0;
  min-width: 320px;
  overflow-x:hidden;  */
	background: #fafafa;
	width: 100%;
	height: 100%;
	position: absolute;
}
/* 登录框 */
.login-container {
  max-width: 420px;
  margin: auto;
  margin-top:6%;
  /* padding-top: 6%; */
  /* background: #272625; */
}

.small-header {
	position: fixed;
	top: 1px;
	left: 0;
	right: 0;
	margin-left: 1px;
	z-index: 100;
}
/* 网页底部布局 */
.footer {
	padding: 10px 18px;
	background: #ffffff;
	border-top: 1px solid #e4e5e7;
	transition: all 0.4s ease 0s;
	position: absolute;
	bottom: 0;
	left: 190px;
	right: 0;
	text-align: center;
}
/* 网页标题导航 */
.small-header .hpanel {
	margin-bottom: 0;
}

.small-header {
	padding: 0 !important;
}

.title-panel {
	background-color: none;
	border: none;
	box-shadow: none;
	margin-bottom: 5px;
	height: 30px;
}

.title-panel .panel-body {
	background: #fff;
	border: 1px solid #e4e5e7;
	border-radius: 2px;
	padding: 2px;
	position: relative;
}

.fixed-navbar #header {
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.fixed-navbar #nav-top {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 50px;
}

.fixed-sidebar #menu {
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	width: 190px;
	top: 80px;
}

.fixed-small-header .small-header {
	position: fixed;
	top: 80px;
	left: 2px;;
	right: 0;
	margin-left: 190px;
	z-index: 100;
}

.fixed-sidebar #menu::-webkit-scrollbar {
	display: none;
}

.fixed-sidebar.show-sidebar #menu {
	width: 190px;
}

.fixed-navbar #wrapper {
	top: 80px;
}

.fixed-navbar #wrapper-iframe {
	top: 80px;
}

.fixed-footer .footer {
	position: fixed;
	z-index: 1001;
	bottom: 0;
	left: 190px;
	right: 0;
}
/* 地图容器 */
#map-container {
	position: relative;
	top: 70px;
	background: #fafafa;
	height: 100%;
	width: 100%;
	color: #fff;
	margin: 0;
	padding-top: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.error-container {
	max-width: 620px;
	margin: auto;
	padding-top: 6%;
}
/* page */
.page {
	border-top: 0px dotted #ccc;
	margin-top: 10px;
	padding-top: 10px;
}

.page-heading {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.page-heading .page-info .nowPage {
	width: 40px;
	text-align: center;
}

.page .page-info .nowPage {
	width: 40px;
	text-align: center;
}

.page .page-info #page-limit {
	/* width:40px;
	text-align: center; */
	height: 25px;
}

.page .page-info {
	float: left;
	margin-left: 10px;
}

.page .page-paging {
	float: right;
	padding: 0;
}

.page .page-paging .pagination {
	padding: 0;
	margin: 0;
}

/*webkit内核浏览器滚动条*/
::-webkit-scrollbar-track-piece {
	background: #fff;
}

::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

::-webkit-scrollbar-button {
	display: block;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-track-piece {
	background: -webkit-gradient(linear, left);
}

::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb:horizontal {
	border-radius: 2px;
	background: #8dba60;
}

::-webkit-scrollbar-thumb:hover {
	background: #8e8e8e;
}

::-webkit-scrollbar-thumb:active {
	background: green;
}

::-moz-scrollbar-track-piece {
	background: #fff;
}

::-moz-scrollbar {
	width: 10px;
	height: 8px;
}

::-moz-scrollbar-button {
	display: block;
}

::-moz-scrollbar-track,::-moz-scrollbar-track-piece {
	background: -webkit-gradient(linear, left);
}

::-moz-scrollbar-thumb,::-moz-scrollbar-thumb:horizontal {
	border-radius: 2px;
	background: #8dba60;
}

::-moz-scrollbar-thumb:hover {
	background: #8e8e8e;
}

::-moz-scrollbar-thumb:active {
	background: green;
}