/*多个div展开收缩start*/
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,img {
	border: 0;
}

body {
	font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
}

a,a:hover {
	text-decoration: none;
}

/*收缩菜单*/
.v {
	float: right;
	width: 14px;
	height: 14px;
	overflow: hidden;
	display: inline-block;
	margin-top: -5px;
	margin-bottom: -5px;
}

.v01 {
	background-position: 0 0;
}

.v02 {
	background-position: 0 -16px;;
}

.vtitle {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ccb6a9;
	border-radius: 8px;
	background: rgba(190,190,190, 0.4);
	margin-top: -1px;
	padding-left: 5px;
	font-size: 15px;
	color: white;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	cursor: pointer;
}

.vtitle em {
	margin: 10px 10px 0 0;
}

.vcon {
	color: white;
}

.vconlist {
	background: #9cc;
}

.vconlist li a {
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	display: block;
	font-size: 14px;
	color: #866f67;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}

.vconlist li.select a,.vconlist li a:hover {
	color: #ed4948;
	text-decoration: none;
}
/*end*/
.panel-body {
	width: 26%;
	height: 100%;
	position: fixed;
	top: 80px;
	right: 0;
	z-index: 2;
	padding: 0;
	border-radius: 8px;
	background: rgba(0,0,0,0.6);
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1;
}

.panel-body1,.panel-body2,.panel-body3 {
	width: 100%;
	height: auto;
	font-size: 13px;
	font-weight: bold;
	z-index: 1;
}

.panel-body0 {
	z-index: 1;
	margin: 0 7px 2px 0;
	text-align: right;
}

.panel-body3 p {
	margin-bottom: 0;
	font-size: 22px;
	color: red;
}

.left_arrow {
	position: fixed;
	top: 45%;
	right: -0.9%;
	display: none;
}

.right_arrow {
	position: absolute;
	top: 40%;
	right: -2%;
	display: none;
}

.close_left {
	position: absolute;
	top: 0;
	left: 0;
}

.panel-body4 {
	width: 12%;
	height: auto;
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 1;
	padding: 0;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
	text-align: center;
	font-size: 15px;
	color: red;
	font-weight: bold;
}

.panel-body4 ul li {
	margin: 15px 0;
}
/*google map default style*/
.gm-style-iw {
	font-size: 14px;
	color: black;
}
/*模态框样式操作*/
#myModal {
	z-index: 9999;
	color: black;
} /*定义模态框为最上*/
.modal-content {
	z-index: 9999;
}

.modal-header {
	font-size: 12px;
	height: 36px;
	cursor: pointer;
	height: 36px;
	cursor: pointer;
}

.modal-body{
	font-size: 14px;
}

.message_move {
	font-size:16px;
	color: red;
	text-align:center;
}

.showByBsId{
	color:white;
}

.modal-backdrop {
	z-index: -1;
} /*定义背景遮罩层为最下*/
/*datatables样式操作*/
.col-sm-7 {
	width: auto !important;
	float: right !important;
}
/*表单部分功能样式操作*/
.test {
	height: auto;
	width: 100%;
	text-align: center;
}