<!DOCTYPE html>
<html>
<head>
<title>入网申请</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>
<!--[if lte IE 9]>
<script src="../../Resources/js/jquery-1.8.3.min.js"></script>
<script src="../../Resources/js/respond.min.js"></script>
<script src="../../Resources/js/html5shiv.js"></script>
<![endif]-->
</head>
<body ng-app="app" ng-controller="asset"
	class="fixed-navbar fixed-sidebar fixed-footer fixed-small-header">
	<!-- splash screen-->
	<div class="splash">
		<div class="color-line"></div>
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 头部文件 -->
	<div ng-include="'../top.html'"></div>
	<!-- 系统菜单 -->
	<div ng-include="'../menu/business-menu.html'"></div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>业务管理</span></li>
							<li class="active"><span>入网申请</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content animate-panel">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-body">
							<!-- row -->
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-success btn-sm" data-toggle="modal"
										data-target="#add" ng-disabled="">
										<i class="fa fa-plus-circle"></i>&nbsp;申请入网
									</button>
									<!-- <button class="btn btn-info btn-sm" ng-disabled=""
										ng-click="showEditModel()">
										<i class="fa fa-edit"></i>&nbsp;修改设备记录
									</button>
									<button class="btn btn-danger btn-sm" onclick="xh.delMore()"
										ng-disabled="">
										<i class="fa fa-trash"></i>&nbsp;批量删除记录
									</button> -->
									<button class="btn btn-warning btn-sm" ng-click="refresh()">
										<i class="fa fa-refresh"></i>&nbsp;刷新
									</button>
								</div>
							</div>
							<!-- row -->
						</div>
						<!-- panel-body--end -->
					</div>
					<!-- hpanel --end-->
				</div>
				<!-- col-md-12--end -->
			</div>
			<!-- row/ -->
			<!-- row -->
			<div class="row">
				<div class="col-md-4" ng-repeat="x in data">
					<div class="hpanel blog-box plan-box">
						<div class="panel-heading">
							<div class="media clearfix text-center">申请人：{{x.userName}}
							</div>
						</div>
						<div class="panel-body">
							<!-- row -->
							<div class="row">
								<div class="col-md-12">
									<p>
										<span class="text-danger">用户单位:</span><span
											style="padding-left:20px">{{x.unitName}}</span>
									</p>
									<p>
										<span class="text-danger">单位性质:</span><span
											style="padding-left:20px">{{x.unitNature}}</span>
									</p>
									<p>
										<span class="text-danger">单位类型:</span><span
											style="padding-left:20px">{{x.unitType}}</span>
									</p>
									<div>
										<span class="pull-left text-success">时间：{{x.netTime}}</span> <span
											class="pull-right text-primary">状态:未审核</span>
									</div>
								</div>
							</div>
							<!-- row -->
						</div>
						<!-- panel-body--end -->
						<div class="panel-footer">
							<div class="project-action m-t-md ">
								<div class="btn-group">
									<button class="btn btn-xs btn-default">
										<i class="fa fa-file-text-o"> </i>&nbsp;详情
									</button>
									<button class="btn btn-xs btn-warning">
										<i class="fa fa-eye"> </i>&nbsp;查看进度
									</button>
									<button class="btn btn-xs btn-primary">
										<i class="fa fa-edit"></i>&nbsp;修改
									</button>
									<button class="btn btn-xs btn-danger">
										<i class="fa fa-trash"></i>&nbsp;删除
									</button>
									<button class="btn btn-xs btn-success">
										<i class="fa fa-hand-o-down"></i>&nbsp;审核
									</button>
								</div>
							</div>
						</div>
						<!-- hpanel --end-->
					</div>
					<!-- col-md-12--end -->
				</div>
				<!-- row/ -->
			</div>
		</div>
		<!-- 中间内容体 /-->
		<!-- 底部内容体 -->
		<div ng-include="'../footer.html'"></div>
		<div class="scroll-top text-info animated fadeIn scroll-top-hide">
			<i class="fa fa-chevron-circle-up fa-3x"></i>
		</div>
		<!-- 添加 -->
		<div ng-include="'joinnet-add.html'"></div>
		<!-- 编辑-->
		<div ng-include="'asset-edit.html'"></div>
		<div class="scroll-top text-info animated fadeIn scroll-top-hide">
			<i class="fa fa-chevron-circle-up fa-3x"></i>
		</div>
		<script type="text/javascript"
			src="../../Resources/js/xhbootstrap-js.js"></script>
		<script type="text/javascript"
			src="../../lib/metisMenu/dist/metisMenu.min.js"></script>
		<script type="text/javascript"
			src="../../Controllers/business/joinnet.js"></script>
		<script type="text/javascript">
			xh.load();
		</script>
</body>
</html>
