
<div class="modal fade" id="add" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold"></small>
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form action="#" id="addForm" onSubmit="return false">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>用户单位</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="unitName"
									required="required">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>单位性质</label>&nbsp;<span class="text-danger">[*]</span> <select
									name="unitNature" class="form-control">
									<option value="党政部门" selected="selected">党政部门</option>
									<option value="事业单位">事业单位</option>
									<option value="企业">企业</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>单位类型</label>&nbsp;<span class="text-danger">[*]</span> <select
									name="unitType" class="form-control">
									<option value="协议入网用户（合同）" selected="selected">协议入网用户（合同）</option>
									<option value="非协议入网用户">非协议入网用户</option>
									<option value="测试用户">测试用户</option>
									<option value="应急处置临时入网用户">应急处置临时入网用户</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>入网依据</label>&nbsp;<span class="text-danger">[*]</span> <select
									name="netBasis" class="form-control">
									<option value="协议或合同" selected="selected">协议或合同</option>
									<option value="非协议或合同">非协议或合同</option>
								</select>
							</div>
						</div>
					</div>
					<!-- row-------end -->
					<div class="row">
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>入网时间</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="netTime"
									required="required" onfocus="WdatePicker()">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>合同名称</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="pactName"
									required="required">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>合同签署日期</label>&nbsp;<span class="text-danger">[*]</span>
								<input type="text" value="" class="form-control" name="signTime"
									required="required" onfocus="WdatePicker()" required="required">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>服务期限</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="serviceTime"
									onfocus="WdatePicker()" required="required">
							</div>
						</div>
					</div>
					<!-- row-------end -->
					<div class="row">
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>单位负责人</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="unitPerson" required="required">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>联系电话</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="tel" required="required">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>联系部门</label>&nbsp;<span class="text-danger">[*]</span> <input
									type="text" value="" class="form-control" name="department" required="required">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>虚拟专网名称</label>&nbsp;<span class="text-danger">[*]</span>
								<input type="text" value="" class="form-control"
									name="virtualnetName" required="required">
							</div>
						</div>
					</div>
					<!-- row-------end -->
					<div class="row">
						<div class="col-md-3">
							<div class="form-group col-md-12">
								<label>服务类型</label>&nbsp;<span class="text-danger">[*]</span> <a
									href="#" data-toggle="tooltip" data-placement="top"
									title="无线接入：包括手持终端、车载终端等无线接入设备;有线接入：包括调度台、二次开发应用等接入设备"><i
									class="fa fa-question-circle"></i> </a> <select name="serviceType"
									class="form-control">
									<option value="无线接入" selected="selected">无线接入</option>
									<option value="有线接入">有线接入</option>
								</select>
							</div>
						</div>
					</div>
					<!-- row-------end -->
					<div class="row" ng-show="false">
						<div class="col-md-12" style="padding:0 40px 0 40px;">
							<fieldset class="form-group">
								<legend>申请终端</legend>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group col-md-12">
											<label>MTM700</label> <input type="number" value="0"
												class="form-control" name="mtm700">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group col-md-12">
											<label>MTP700</label> <input type="number" value="0"
												class="form-control" name="mtp700">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group col-md-12">
											<label>MTM800</label> <input type="number" value="0"
												class="form-control" name="mtm800">
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<!--row-------end -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid"
					class="btn btn-success btn-sm" id="add_btn">
					<i class="fa fa-plus"></i>&nbsp;添加
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#add_btn").click(function() {
		$('#addForm').submit();
	});

	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#addForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
			/* price : {
				validators : {
					notEmpty : {
						message : '类型不能为空'
					},
					regexp : {
						regexp : /^[0-9.]+$/,
						message : '只能输入整数和小数'
					}
				}
			} */

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.add();
	});
</script>
<script>
	$(function() {
		$("[data-toggle='tooltip']").tooltip();
	});
</script>