<!--添加用户-->
<div class="modal fade" id="edit" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">添加用户</small>
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form  action="#" id="editForm" onSubmit="return false">
					<div class="row">
					    <div class="col-md-6">
							<div class="form-group col-md-12">
								<label>角色ID</label>&nbsp;<span class="text-danger">[*]</span> 
								<input type="text" value="" class="form-control" name="roleId"
									required="required" readonly="readonly" hidden="hidden" ng-model="editData.roleId">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>角色名称</label>&nbsp;<span class="text-danger">[*]</span> 
								<input type="text" value="" class="form-control" name="role"
									required="required" ng-model="editData.role">
							</div>
						</div>
						
					</div>
					
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid" class="btn btn-success btn-sm" id="save_btn">
					<i class="fa fa-plus"></i>&nbsp;保存
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#save_btn").click(function() {
		$('#editForm').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#editForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
	       role : {
		      validators : {
			      notEmpty : {
				    message : '角色不能为空'
			}
		}
	}
	

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.update();
	});
</script>
<!-- 编辑用户---end -->