<!--添加用户-->
<div class="modal fade" id="add" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<small class="font-bold">添加用户</small>
			</div>
			<div class="modal-body pad-0" style="margin:2px;padding:2px;">
				<form  action="#" id="addForm" onSubmit="return false">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>用户名</label>&nbsp;<span class="text-danger">[*]</span> 
								<input type="text" value="" class="form-control" name="user"
									required="required">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>密码</label>&nbsp;<span class="text-danger">[*]</span>
								<input type="text" value="" class="form-control" name="userPass">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>姓名</label> <input type="text" value=""
									class="form-control" name="userName">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>性别</label> 
								<select class="form-control" name="sex">
										<option value="男" selected="selected">男</option>
										<option value="女">女</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>联系电话</label>
								<input type="text" value="" class="form-control" name="tel"
									>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group col-md-12">
								<label>角色</label>&nbsp;<span class="text-danger">[*]</span> 
								<select class="form-control" name="roleId">
								    <option ng-repeat="x in role" value="{{x.roleId}}" >{{x.role}}</option>
								</select>
							</div>
						</div>
						
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm"
					data-dismiss="modal">
					<i class="fa fa-remove"></i>&nbsp;关闭
				</button>
				<button type="button" ng-disabled="form.$invalid" class="btn btn-success btn-sm" id="add_btn">
					<i class="fa fa-plus"></i>&nbsp;添加
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#add_btn").click(function() {
		$('#addForm').submit();
	});
	var faIcon = {
		valid : 'fa fa-check-circle fa-lg text-success',
		invalid : 'fa fa-times-circle fa-lg',
		validating : 'fa fa-refresh'
	};
	$('#addForm').bootstrapValidator({
		excluded : [ ':disabled' ],
		/* feedbackIcons: faIcon, */
		fields : {
			user : {
				validators : {
					notEmpty : {
						message : '用户名不能为空'
					}
				}
			},
			roleId : {
				validators : {
					notEmpty : {
						message : '角色不能为空'
					}
				}
			},
			userPass : {
				validators : {
					notEmpty : {
						message : '密码不能为空'
					}
				}
			}

		}
	}).on('success.form.bv', function(e, data) {
		e.preventDefault();
		xh.add();
	});
</script>
<!-- 添加用户---end -->