<!-- 左侧导航菜单 -->
<aside id="menu">
	<div id="menu-title">
		<i class="fa fa-list-alt text-danger"></i>&nbsp;&nbsp;<span>菜单列表</span>
	</div>
	<ul class="nav" id="side-menu">
		<li class="open"><a href="#"> <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">业务办理</span> <span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="">入网</a></li>
				<li><a href="">退网</a></li>
				<li><a href="">业务变更</a></li>
				<li><a href="">故障申报</a></li>
				<li><a href="">通信保障</a></li>
				<li><a href="">租借设备</a></li>
			</ul></li>
		<!-- <li><a href="#"> <i class="fa fa-list-alt text-success"></i>&nbsp;&nbsp;
				<span class="nav-label">终端设备管理</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="chartjs.html">无线用户配置</a></li>
				<li><a href="chartjs.html">调度用户配置</a></li>
				<li><a href="flot.html">通话组配置</a></li>
				<li><a href="c3.html">通播组配置 </a></li>
				<li><a href="c3.html">动态重组</a></li>
				<li><a href="c3.html">序列号管理</a></li>
				<li><a href="c3.html">远程空口</a></li>
			</ul></li> -->
		<li><a href="#"> <i class="fa fa-list-alt text-success"></i>&nbsp;&nbsp;
				<span class="nav-label">资产管理</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="">资产概况</a></li>
				<li><a href="asset-info.html">资产记录</a></li>
				<li><a href="">设备维护</a></li>
				<li><a href="">设备遗失</a></li>
			</ul></li>
	<li><a href="#"> <i class="fa fa-list-alt text-success"></i>&nbsp;&nbsp;
				<span class="nav-label">用户数据管理</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="radiouser.html">用户</a></li>
				<li><a href="">组</a></li>
			</ul></li>
	<li><a href="#"> <i class="fa fa-list-alt text-success"></i>&nbsp;&nbsp;
				<span class="nav-label">虚拟专网</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="">组织结构</a></li>
				<li><a href="">虚拟专网属性</a></li>
			</ul></li>	
	<li><a href="#"> <i class="fa fa-list-alt text-success"></i>&nbsp;&nbsp;
				<span class="nav-label">终端小工具</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="">动态重组</a></li>
				<li><a href="">空中加组</a></li>
				<li><a href="">遥启遥毙</a></li>
				<li><a href="">鉴权使能</a></li>
				<li><a href="">GPS参数修改</a></li>
			</ul></li>						
	</ul>
</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();
</script>