<!-- 左侧导航菜单 -->
<aside id="menu">
	<div id="menu-title">
		<i class="fa fa-list-alt text-danger"></i>&nbsp;&nbsp;<span>菜单列表</span>
	</div>
	<ul class="nav" id="side-menu">
		<li class="open"><a href="#"> <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">资源配置</span> <span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="bsInfo.html">基站配置 </a></li>
				<li><a href="">调度台配置</a></li>
			</ul></li>
		<li><a href="#"> <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">实时监测</span> <span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="">基站状态 </a></li>
				<li><a href="">中心状态</a></li>
				<li><a href="userstatus.html">终端状态</a></li>
				<li><a href="">信道资源状态</a></li>
			</ul></li>
		
		<li><a href="#"> <i class="fa fa-list-alt text-success"></i>&nbsp;&nbsp;
				<span class="nav-label">故障管理</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="">Tetra系统告警</a></li>
				<li><a href="">环监告警</a></li>
				<li><a href="">工单管理</a></li>
			</ul></li>
		<li><a href="#"> <i class="fa fa-list-alt text-success"></i>&nbsp;&nbsp;
				<span class="nav-label">数据报表</span><span class="fa arrow"></span>
		</a>
			<ul class="nav nav-second-level">
				<li><a href="audio.html">全网录音</a></li>
				<li><a href="sms-recv.html">800M短信</a></li>
				<li><a href="gps.html">gps信息</a></li>
				<li><a href="">终端上下线</a></li>
				<li><a href="">值班记录表</a></li>
				<li><a href="">运维月报</a></li>
				<li><a href="">运维质量抽检表</a></li>
				<li><a href="">运维质量抽检统计表</a></li>
				<li><a href="">通信保障</a></li>
			</ul></li>
	</ul>
</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();
</script>