<!-- 左侧导航菜单 -->
<aside id="menu">
	<div id="menu-title">
		<i class="fa fa-list-alt text-danger"></i>&nbsp;&nbsp;<span>菜单列表</span>
	</div>
	<ul class="nav h-list " id="side-menu">
		<li><a href="role.html" > <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">角色管理</span>
		</a></li>
		<li><a href="user.html"> <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">用户管理</span>
		</a></li>
		<li><a href="index.html"> <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">权限管理</span>
		</a></li>
		<li><a href="index.html"> <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">系统配置</span>
		</a></li>
		<li><a href="log.html" > <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">日志管理</span>
		</a></li>
		<li><a href="index.html"> <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">计划任务</span>
		</a></li>
	</ul>
</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();
</script>
