<!-- 左侧导航菜单 -->
<aside id="menu">
	<div id="menu-title">
		<i class="fa fa-list-alt text-danger"></i>&nbsp;&nbsp;<span>菜单列表</span>
	</div>
	<ul class="nav" id="side-menu">
		<li><a href="bsInfo.html"> <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">GIS</span>
		</a></li>
		<li><a href="bsInfo.html"> <i
				class="fa fa-list-alt text-success"></i>&nbsp;&nbsp; <span
				class="nav-label">可视化统计</span>
		</a></li>
	</ul>
</aside>
<script type="text/javascript">
	$('#side-menu').metisMenu();
</script>