<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.EmhMapper">
<!-- 自定义返回结果集 -->
   <resultMap id="emh_sensor" type="xh.mybatis.bean.EmhBean">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="dev_id" column="dev_id" javaType="java.lang.Integer"></result>
        <result property="max_range_unitid" column="max_range_unitid" javaType="java.lang.Integer"></result>
        <result property="status" column="status" javaType="java.lang.Integer"></result>
        <result property="warning_status" column="warning_status" javaType="java.lang.Integer"></result>
        <result property="is_on_off" column="is_on_off" javaType="java.lang.Integer"></result>
        <result property="on_unitid" column="on_unitid" javaType="java.lang.Integer"></result>
        <result property="off_unitid" column="off_unitid" javaType="java.lang.Integer"></result>
        <result property="on_off_waring" column="on_off_waring" javaType="java.lang.Integer"></result>
        <result property="is_write_old_monitor" column="is_write_old_monitor" javaType="java.lang.Integer"></result>
        <result property="up_index" column="up_index" javaType="java.lang.Integer"></result>
        <result property="deleted" column="deleted" javaType="java.lang.Integer"></result>
        <result property="dev_name" column="dev_name" javaType="java.lang.String"></result>
        <result property="sig_value" column="sig_value" javaType="java.lang.String"></result>
        <result property="min_warning" column="min_warning" javaType="java.lang.String"></result>
        <result property="warning" column="warning" javaType="java.lang.String"></result>
        <result property="min_range" column="min_range" javaType="java.lang.String"></result>
        <result property="max_range" column="max_range" javaType="java.lang.String"></result>
        <result property="x_num" column="x_num" javaType="java.lang.String"></result>
        <result property="add_num" column="add_num" javaType="java.lang.String"></result>
        <result property="last_conn_time" column="last_conn_time" javaType="java.lang.String"></result>
        <result property="createtime" column="createtime" javaType="java.lang.String"></result>
        <result property="modifydate" column="modifydate" javaType="java.lang.String"></result>
   </resultMap>
    <!--查询基站环境监控实时状态-->
    <select id="oneBsEmh" parameterType="String" resultMap="emh_sensor" useCache="true">
     select * from emh_sensor where sid=(select id from emh_server where code=#{code})
     order by dev_id asc
    </select>  

</mapper>
