<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xh.mybatis.mapper.RadioUserSeriaMapper" >
  <resultMap id="BaseResultMap" type="xh.mybatis.bean.RadioUserSeria" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="priorityLevel" property="prioritylevel" jdbcType="INTEGER" />
    <result column="bicType" property="bictype" jdbcType="INTEGER" />
    <result column="bocType" property="boctype" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="ById" parameterType="map" resultMap="BaseResultMap"
		useCache="true">
		select * from xhgmnet_radiouseria where 1=1
		<if test="id !=null and id !='' and id !=0">
			and id like concat(#{id},'%')
		</if>
		<if test="name !=null and name !=''">
			and name like concat(#{name},'%')
		</if>
		order by id asc limit #{start},#{limit}
	</select>

	<select id="Count" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_radiouseria where 1=1
		<if test="id!=null and id!=''">
			and id like concat(#{id},'%')
		</if>
		<if test="name!=null and name!=''">
			and name like concat(#{name},'%')
		</if>
	</select>
	
  <sql id="Base_Column_List" >
    id, name, priorityLevel, bicType, bocType, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xhgmnet_radiouseria
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xhgmnet_radiouseria
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xh.mybatis.bean.RadioUserSeria" >
    insert into xhgmnet_radiouseria (id, name, priorityLevel, 
      bicType, bocType, time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{prioritylevel,jdbcType=INTEGER}, 
      #{bictype,jdbcType=INTEGER}, #{boctype,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xh.mybatis.bean.RadioUserSeria" >
    insert into xhgmnet_radiouseria
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="prioritylevel != null" >
        priorityLevel,
      </if>
      <if test="bictype != null" >
        bicType,
      </if>
      <if test="boctype != null" >
        bocType,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="prioritylevel != null" >
        #{prioritylevel,jdbcType=INTEGER},
      </if>
      <if test="bictype != null" >
        #{bictype,jdbcType=INTEGER},
      </if>
      <if test="boctype != null" >
        #{boctype,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xh.mybatis.bean.RadioUserSeria" >
    update xhgmnet_radiouseria
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="prioritylevel != null" >
        priorityLevel = #{prioritylevel,jdbcType=INTEGER},
      </if>
      <if test="bictype != null" >
        bicType = #{bictype,jdbcType=INTEGER},
      </if>
      <if test="boctype != null" >
        bocType = #{boctype,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xh.mybatis.bean.RadioUserSeria" >
    update xhgmnet_radiouseria
    set name = #{name,jdbcType=VARCHAR},
      priorityLevel = #{prioritylevel,jdbcType=INTEGER},
      bicType = #{bictype,jdbcType=INTEGER},
      bocType = #{boctype,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>