<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.SmsRecvMapper">

	<!--根据基站ID，名称查找基站记录 -->
	<select id="recInfo" parameterType="map" resultType="java.util.HashMap"
		useCache="true">
		select * from xhgmnet_sms_recv where 1=1
		<if test="srcId!=null and srcId!=''">
			and srcId like concat(#{srcId},'%')
		</if>
		<if test="dstId!=null and dstId!=''">
			and dstId like concat(#{dstId},'%')
		</if>
		<if test="writeTime!=null and writeTime!=''">
			and writeTime like concat(#{writeTime},'%')
		</if>
		order by id asc limit #{start},#{limit}
	</select>
	<!--根据源ID，目标ID，接收时间查找基站记录总数 -->
	<select id="recCount" parameterType="map" resultType="int"
		useCache="true">
		select count(*) from xhgmnet_sms_recv where 1=1
		<if test="srcId!=null and srcId!=''">
			and srcId like concat(#{srcId},'%')
		</if>
		<if test="dstId!=null and dstId!=''">
			and dstId like concat(#{dstId},'%')
		</if>
		<if test="writeTime!=null and writeTime!=''">
			and writeTime like concat(#{writeTime},'%')
		</if>
	</select>

	<!--删除短信 -->
	<delete id="deleteById" parameterType="java.util.List">
		delete from xhgmnet_sms_recv where id in(
		<foreach collection="list" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>

</mapper>
