<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xh.mybatis.mapper.WebUserRoleMapper">
<!-- 自定义返回结果集 -->
   <resultMap id="userRole" type="xh.mybatis.bean.WebUserRoleBean">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="roleId" column="roleId" javaType="java.lang.Integer"></result>
        <result property="userId" column="userId" javaType="java.lang.Integer"></result>
   </resultMap>
    <!--添加用户ID到角色关系表-->    
    <insert id="addUserToRole" useGeneratedKeys="true" keyProperty="id" parameterType="xh.mybatis.bean.WebUserRoleBean">
      insert into xhgmnet_web_role_user(userId,roleId)
      values(#{userId},#{roleId})
    </insert> 
    <!--更新用户ID到角色关系表-->
    <update id="updateUserRole" parameterType="xh.mybatis.bean.WebUserRoleBean">
      update xhgmnet_web_role_user set roleId=#{roleId} where userId=#{userId}
    </update>      
   <!--根据用户ID查询角色roleId-->
    <select id="roleByUsername" parameterType="String" resultType="String" useCache="true">
     select role from xhgmnet_web_role where roleId=(select roleId from xhgmnet_web_role_user where 
      userId=(select userId from xhgmnet_web_user where user=#{username}))
    </select>  
   <!--根据用户ID判断是否存在-->
    <select id="userIdIsExixts" parameterType="int" resultType="int" useCache="true">
     select count(*) from xhgmnet_web_role_user where userId=#{userId}
    </select>     
   

</mapper>
